.box {
    width: 100px;
    height: 25px;
    margin: 10px;
    padding: 25px;
    text-align: center;
    border: 5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: bold;
  }